.loading,
.title,
.incorrect-name {
  color: teal;
  text-align: center;
}

.incorrect-name {
  font-size: 20px;
}

.app {
  margin: 0px 40px;
}

.post-link {
  text-decoration: none;
}

.content {
  display: flex;
}

.posts-list {
  width: 100%;
}
