* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 3;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  text-align: center;
  position: relative;
}

.left {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  font-size: 16px;
  background-color: #4caf50;
  color: white;
}

.not-found {
  border: 1px solid #ddd;
  padding: 10px;
}

.search__wrapper {
  width: 100%;
  margin: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.search__input,
.search__button {
  height: 35px;
  border: 1px solid #ddd;
  padding: 0 5px;
}

.search__input {
  background-color: #f2f2f2;
}

.search__button {
  font-size: 16px;
  background-color: #4caf50;
  color: white;
}

.search__text {
  font-size: 16px;
  font-weight: bold;
  color: #4caf50;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #4caf50;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  width: 100%;
  margin-top: 100px;
}

.error-button {
  padding: 7px 10px;
  background-color: rgb(226, 61, 61);
  color: #ffffff;
  border: none;
}

.pagination-list {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
}

.pagination-item {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(8, 8, 8);
}

.pagination-item.active {
  border-color: rgb(255, 0, 0);
}

.pokemon-card-wrapper {
  pointer-events: all;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.pokemon-card {
  position: fixed;
  top: 35px;
  right: 35px;
  width: max-content;
  background-color: #4caf50;
  padding: 20px 50px 50px;
  border-radius: 10px;
  color: white;
}

.pokemon-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px;
}

.pokemon-main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  text-align: left;
}

.pokemon-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.pokemon-image-wrapper {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
}

.pokemon-image {
  width: 100%;
  height: auto;
}

.pokemon-weight,
.pokemon-height {
  font-weight: bold;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 25px;
  background-color: rgb(255, 62, 62);
  border: none;
  border-radius: 50%;
}
